@import url("/global/global.responsive.css");
@import url("./index.css");

@media only screen and (min-width:1400px) {
    .curve {
        margin-top: -2px;
    }
}

/* @media only screen and (max-width:1400px) {
    .vector_section .vector .img_wrapper.img_1 {
        top: 110px;
        left: 250px;
    }
    .vector_section .vector .img_wrapper.img_2 {
        top: 110px;
        right: 250px;
    }
    .vector_section .vector .img_wrapper.img_3 {
        top: 150px;
        left: 100px;
    }
    .vector_section .vector .img_wrapper.img_4 {
        top: 230px;
        left: 500px;
    }
    .vector_section .vector .img_wrapper.img_5 {
        top: 150px;
        right: 100px;
    }
    .vector_section .vector .img_wrapper.img_6 {
        top: 290px;
        left: 170px;
    }
    .vector_section .vector .img_wrapper.img_7 {
        top: 290px;
        right: 170px;
    }
} */

@media only screen and (max-width: 800px) {
    .pinned_element {
        position: relative;
        transform: none;
        margin: 20px auto;
        width: 100%;
        left: 0;
    }
    .pinned_element .fade_in_box {
        display: none;
    }
    .setup_section .boxes {
        flex-direction: column;
        gap: 30px 0;
    }
    .end_pin, .skew_fix {
        background-color: var(--bg_sec);
    }
    .curve {
        margin-top: -5px;
    }
    .setup_section .boxes .box:hover {
        width: 100%;
    }
    .scale_section .right_wrapper .bottom_wrapper .box.green {
        min-height: 350px;
    }
}