@import url("/global/global.responsive.css");
@import url("./index.css");

@media only screen and (min-width:1400px) {
    .curve {
        margin-top: -2px;
    }
}

@media only screen and (max-width: 800px) {
    .pinned_element {
        position: relative;
        transform: none;
        margin: 20px auto 0 auto;
        width: 100%;
        left: 0;
    }
    .pinned_element .fade_in_box {
        display: none;
    }
    .setup_section .boxes {
        flex-direction: column;
        gap: 30px 0;
    }
    .curve {
        margin-top: -5px;
    }
    .setup_section .boxes .box:hover {
        width: 100%;
    }
    .scale_section .right_wrapper .bottom_wrapper .box.green {
        min-height: 350px;
    }
    .pricing_section .left_wrapper .overlay_wrapper {
        top: -15%;
    }
    .scale_section .right_wrapper .top_wrapper::before {
        content: none;
    }
    .benefits_section {
        padding-bottom: 0;
    }
    .skew_fix {
        height: 0;
    }
    .end_pin {
        padding-block: 50px;
    }
    .inv_section {
        padding-bottom: 50px;
    }
}


@media only screen and (max-width: 600px) {
    .section_1 .right_wrapper .img_wrapper .bubble_wrapper{
        max-width: 165px;
    }
}
